{% extends "base.html" %}

{% block content %}
<div class="hero-body day-view center">
    <div class="container has-text-centered">
        <div class="container form-to-left">
            <form method="GET" action="/getIngredientsForMeal/{{mealid}}/{{date}}">
                <button class="submit-type btn" name="back-to-meal">Back to meal</button>
                <!-- <input type="hidden" name="date" value="{{date}}">
                <input type="hidden" name="mealid" value="{{mealid}}"> -->
            </form>
        </div>  
    <div>
        <P>Adding food for {{mealtype}} on {{date}}</P>
    </div>
    <form method="GET" class="search" action="/diet-tracker/search">
        <div class="form-row">
            <input class="input is-large" type="search-field" name="foodName" placeholder="Type here" autofocus="">
        <input type="hidden" name="date" value="{{date}}">
        <input type="hidden" name="mealtype" value="{{mealtype}}">
        <input type="hidden" name="mealid" value="{{mealid}}">
        <input type="hidden" name="update" value="{{update}}">
        <button class="search-food-button btn btn-small">Search</button>
    </div>
    </form>
        <div class="search-results">
        {% if foods != None %}
            {% for food in foods %}
                <a class="result" href="{{ url_for('diet_tracker.pickFoodDetails', mealid=mealid, date=date, foodid=food['food_id'], foodname=food['food_name'], update=update, mealtype=mealtype)}}"> 
                    <strong>{{food['food_name']}}</strong> {{food['food_description']}}
                </a> 
            {% else %}
                <a class="result">No matching food found</a>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}