{% extends "base.html" %}

{% block content %}
<body>
    <form method="GET" action="/diet-tracker/myDay">
        <button class="submit-type" name="back-to-meals">Back to meals</button>
        <input type="hidden" name="date" value="{{date}}">
    </form>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    {% for type in mealtypes %}
    <form action="/addMeal/{{date}}">
        {% if type in existing %}
            <button class="submit-type" name="type" value="{{type}}" disabled>{{type}}</button>
        {% else %}
            <button class="submit-type" name="type" value="{{type}}">{{type}}</button>
        {% endif %}
        <input type="hidden" name="update" value="false" />
    </form>
    {% endfor %}    
</body>
{% endblock %}