{% extends "base.html" %}

{% block content %}
<div class="hero-body day-view center">
    <div class="container has-text-centered">
        <div class="container form-to-left">
    <form method="GET" action="/getIngredientsForMeal/{{mealid}}/{{date}}">
        <button class="submit-type btn" name="back-to-meals">Back to meal</button>
        <input type="hidden" name="date" value="{{date}}">
        <input type="hidden" name="mealid" value="{{mealid}}">
    </form>
</div>
<div class="day-card">
    {% if goals['calories'] != None %}
    <p>Calories for {{mealtype}}: {{calories}} / {{goals['calories']}}</p>
    {% else %}
    <p>Calories for {{date}}: {{calories}}</p>
    {% endif %}
    
    {% if goals['protein'] != None %}
    <p>Protein: {{protein}} g, {{percents['protein']}} / {{goals['protein']}} % </p>
    {% else %}
    <p>Protein: {{protein}} g</p>
    {% endif %}
    {% if goals['fat'] != None %}
    <p>Fat: {{fat}} g, {{percents['fat']}} / {{goals['fat']}} % </p>
    {%else%}
    <p>Fat: {{fat}} g</p>
    {% endif %}
    {% if goals['carbs'] != None %}
    <p>Carbohydrates: {{carbs}} g, {{percents['carbs']}} / {{goals['carbs']}} % </p>
    {%else%}
    <p>Carbohydrates: {{carbs}} g</p>    
    {% endif %}
    </div>
    {% if calories|int > 0 %}
    <img class="chart" src= "{{ url_for('static', filename=img_url)}}">
    {% endif %}
</div>
</div>
{% endblock %}