{% extends "base.html" %}

{% block content %}
<body>
    <form method="GET" action="/diet-tracker/myDay">
        <button class="submit-type" name="back-to-meals">Back to meals</button>
        <input type="hidden" name="date" value="{{date}}">
    </form>
    
    <form method="POST" action="/diet-tracker/{{date}}/{{mealtype}}/statistics">
        <input type="submit" value="Check nutritional statistics" />
        <input type="hidden" name="calories" value="{{meal_nutr['calories']}}"/>
        <input type="hidden" name="protein" value="{{meal_nutr['protein']}}"/>
        <input type="hidden" name="fat" value="{{meal_nutr['fat']}}"/>
        <input type="hidden" name="carbs" value="{{meal_nutr['carbohydrate']}}"/>
        <input type="hidden" name="date" value="{{date}}" />
        <input type="hidden" name="mealtype" value="{{mealtype}}" />
        <input type="hidden" name="mealid" value="{{mealid}}" />
    </form> 
    <form method="GET" action="/diet-tracker/confirm-delete-meal">
        <button class="submit-type" name="delete-meal">Delete meal</button>
        <input type="hidden" name="date" value="{{date}}">
        <input type="hidden" name="mealid" value={{mealid}}>
        <input type="hidden" name="mealtype" value="{{mealtype}}">
    </form>
    <P>Calories for this meal: {{meal_nutr['calories']}}</P> 
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}
            </div>
        {% endif %}
    {% endwith %}
    <p>Ingredients for {{mealtype}}: {{date}}</p>
    {% if foods|length == 0 %}
        <p>No ingredients added for this meal yet</p>
    {% endif %}
    {% for food in foods %}
        <span>
            <p>{{food['name']}} serving: {{food['s_name']}} quantity: {{food['quantity']}} kcal: {{foods_nutr[food['foodid']]['calories']}}</p>
            <form method="GET" action="{{ url_for('diet_tracker.pickFoodDetails', mealid=mealid, date=date, foodid=food['foodid'])}}">
                <button type='submit' class="food-item"> Edit</button>
            <input type="hidden" name="update" value="true">
            <input type="hidden" name="mealtype" value="{{mealtype}}">
            <input type="hidden" name="foodname" value="{{food['name']}}">
            </form> 
            <form method="GET" action="/diet-tracker/deleteIngredient">
                <input type="submit" value="Remove">
                <input type="hidden" name="mealid" value={{mealid}}>
                <input type="hidden" name="date" value={{date}}>
                <input type="hidden" name="foodid" value={{food['foodid']}}>
            </form>
        </span>
    {% endfor %}

    <form method="POST" action="/diet-tracker/searchIngredients">
        <input type="submit" value="Add ingredient">
        <input type="hidden" name="mealid" value="{{mealid}}">
        <input type="hidden" name="update" value="false">
        <input type="hidden" name="date" value="{{date}}">
        <input type="hidden" name="mealtype" value="{{mealtype}}">
    </form>  

</body>
{% endblock %}